<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>West Compass</title>
    <link rel="stylesheet" href="css/reset-css.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<main>
    <th:block th:include="~{fragments/navbar}"/>
    <div class="container">
        <h2 class="text-center text-white mt-5">West Compass Offers</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>
            <div class="col-md-4 d-flex flex-column bg-text mb-3">
                <h2>Owner: root</h2>
                <h2>Brand: BMW</h2>
                <h4>Model: 320</h4>
                <h4>Year: 2007</h4>
                <h4>Engine: diesel</h4>
            </div>
            <div class="col-md-4 d-flex flex-column bg-text mb-3">
                <h2>Owner: pesho</h2>
                <h2>Brand: Opel</h2>
                <h4>Model: OPC</h4>
                <h4>Year: 2009</h4>
                <h4>Engine: gasoline</h4>
            </div>
            <div class="col-md-4 d-flex flex-column bg-text mb-3">
                <h2>Owner: pesho</h2>
                <h2>Brand: Nissan</h2>
                <h4>Model: GT-R</h4>
                <h4>Year: 2020</h4>
                <h4>Engine: diesel</h4>
            </div>
        </div>
        <div class='row mb-4 d-flex justify-content-around'>
            <div class="col-md-4 d-flex flex-column bg-text mb-3">
                <h2>Owner: pesho</h2>
                <h2>Brand: Peugeout</h2>
                <h4>Model: 307</h4>
                <h4>Year: 2003</h4>
                <h4>Engine: diesel</h4>
            </div>
        </div>
    </div>
</main>
</body>
</html>
